
.heroCard{
    position: relative;
    color:rgb(236, 236, 236);
    
}

.heroCard > div{
    position: absolute 0;
    background-color: rgba(231, 231, 231, 0.5);
    backdrop-filter: blur(4px);
    background-size: 'cover';
    background-position: 'center';
    width: '100%';
    padding-top: '56.25%';
    border-radius: '12px';
    overflow: 'hidden'
}
